/* Import App file to get global variables. */
@import '../../App.css';

.hero-container {
  /* background: url('../../assets/hero-notext.png') no-repeat center center; */
  background-size: cover;
  padding: 60px;
  display: flex;
  height: auto;
}

.hero-content {
  max-width: 650px;
  text-align: left;
  padding: 50px;
}

.hero-text {
  margin-bottom: 20px;
  max-width: 650px;
}

.hero-text .hero-title {
  font-size: 5em;
  color: #14694a; /* HEX Code for title */
  font-family: var(--header-font); 
  font-weight: var(--header-weight);
  margin-bottom: 20px;
}

.hero-text .hero-description {
  font-size: 1.1em;
  color: #000;
  font-family: var(--body-font);
  font-weight: var(--body-weight);
  margin-bottom: 20px;
}

.hero-form {
  display: flex;
  align-items: center;
  max-width: 500px; /* Set a max-width for the form */
  width: 100%;
}

.hero-form .hero-input {
  flex: 1;
  position: relative;
}

.hero-form .hero-input .MuiOutlinedInput-root {
  border-radius: 50px;
  background-color: #fff;
  width: 100%;
  font-family: var(--body-font);
}

/* Change input font */
.hero-form .hero-input .MuiOutlinedInput-input {
  font-family: var(--body-font);
  font-weight: 700;
}

.hero-form .hero-input .MuiOutlinedInput-notchedOutline {
  border-color: #14694a; /* Green border */
}

.hero-input .hero-button {
  background-color: var(--primary-color); /* Green color */
  color: #fff;
  font-size: 1em;
  border-radius: 50px; /* Rounded corners on right */
  box-shadow: none; /* Remove button shadow */
  white-space: nowrap;
  margin-right: -4px;
  font-family: var(--body-font);
  font-weight: 800;
}

.hero-input .hero-button:hover {
  background-color: #049862; /* Green color */
  color: #fff;
  box-shadow: none; /* Remove button shadow */
}

@media (max-width: 768px) {
  .hero-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 20px;
  }

  .hero-content {
    align-items: center;
  }

  .hero-text {
    margin-bottom: 20px;
  }

  .hero-title {
    font-size: 2em;
  }

  .hero-description {
    font-size: 1em;
  }

  .hero-form {
    flex-direction: column;
  }

  .hero-input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .hero-button {
    width: 100%;
    border-radius: 25px;
    margin-left: 0;
  }
}
