.header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;


}

.header-main-text {
    /* font-weight: 400;
    font-style: normal; */

    /* font-kerning: none;
    text-decoration: none;
    width: 15.6983px;
    height: 5.59287px;
    font-size: 76.5621px;  */
    
    /* line-height: 79px;  */
    /* letter-spacing: -0.042em; 
    text-transform: uppercase;
    list-style-type: none; */
}
.header nav {

    background-color: rgba(165, 112, 255, .4);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.header nav h3 {

}

.navigation-bar {

}





@media (max-width: 768px) {




}