.resources-container {
    background-color: #fff;
    padding: 60px 20px;
    text-align: center;
  }
  
  .resources-heading {
    font-size: 2.5em;
    color: #14694a; /* HEX Code for heading */
    font-family: 'Argent CF Extra Bold', sans-serif; /* Example font */
    margin-bottom: 20px;
  }
  
  .resources-description {
    font-size: 1.2em;
    color: #000;
    font-family: 'Helvetica Neue', sans-serif; /* Example font */
    margin-bottom: 40px;
  }
  
  .resources-grid .resource-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  