.team-container {
    background-color: #f7f7e0; /* Background color */
    padding: 60px 20px;
    text-align: center;
  }
  
  .team-heading {
    font-size: 2.5em;
    color: #14694a; /* HEX Code for heading */
    font-family: 'Argent CF Extra Bold', sans-serif; 
    margin-bottom: 20px;
  }
  
  .team-description {
    font-size: 1.2em;
    color: #000;
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom: 40px;
  }
  
  .team-grid .team-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  